.Form {
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid white;
  text-align: left;
  margin: 25px;
}

.Label {
  margin-bottom: 5px;
  margin-bottom: 5px;
  color: white;
}

.Input,
.Select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: x-large;
  margin-bottom: 20px;
}

.Button {
  width: 100%;
  padding: 10px;
  background-color: cyan;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.Button:hover {
  background-color: #00bfff;
}

.Button:active {
  transform: scale(0.98);
}
